@{
    ViewData["Title"] = "Event Requests";
}

<div>
    <form method="post" asp-controller="EventRequests" asp-action="create">       
        <p>Client Name:</p>
        <select name="clientname">
        @{  var clients = ViewData["Clients"] as List<string>;
            foreach (var client in clients)
            { 
              <option value="@client">@client</option>
            }
        }
        </select> <br/>
        <p>Event Name:</p>
        <input type="text" name="eventname" /> <br />
        <p>Event Type:</p>
        <input type="text" name="eventtype" /> <br />
        <p>From:</p>
        <input type="text" name="from" /> <br />
        <p>To:</p>
        <input type="text" name="to" /> <br />
        <p>Expected Number of Attendees:</p>
        <input type="text" name="attendance" /> <br />
        <p>Preferences:</p>
        <input type="checkbox" id="decoration_cb" name="decoration" value="true" />
        <label for="decoration_cb">Decoration</label> <br />

        <input type="checkbox" id="food_cb" name="food" value="true"/>
        <label for="food_cb">Breakfast, lunch, dinner</label> <br />

        <input type="checkbox" id="filmphoto_cb" name="filmphoto" value="true"/>
        <label for="filmphoto_cb">Photos/Filming</label> <br />

        <input type="checkbox" id="music_cb" name="music"  value="true"/>
        <label for="music_cb">Music</label> <br />

        <input type="checkbox" id="poster_cb" name="poster" value="true"/>
        <label for="poster_cb">Poster</label> <br />

        <p>Budget:</p>
        <input type="text" name="budget" /> <br />

        <input type="submit" value="Create">
    </form>
</div>