@{
    ViewData["Title"] = "Financial Requests";
}

<div>
    @{  var financialRequest = ViewData["FinancialRequest"] as FinancialRequest;
        var currentUser = ViewData["CurrentUser"] as Employee;
    }
    <form method="post" asp-controller="FinancialRequests" asp-action="create">
        <p>Requesting Department: @financialRequest.Department</p>


        <p>Project Reference: @financialRequest.EventRequestId</p>
        <p>Required Amount: @financialRequest.RequiredAmount</p>
        <p>
            Reason <br />
            @financialRequest.Reason
        </p>
        @{  if (currentUser.Role == EmployeeRole.FinancialManager)
            { 
                <input type="submit" value="Approve" /><br/>
                <input type="submit" value="Reject" /><br/>  
            }
        }
    </form>
</div>