@{
    ViewData["Title"] = "Resource Requests";
}

<div>
    <form method="post" asp-controller="ResourceRequests" asp-action="create">
        <p>Contract Type</p>
        <input type="radio" id="fulltime_cb" name="contracttype" value="1" />
        <label for="fulltime_cb">Full Time</label> <br />
        <input type="radio" id="parttime_cb" name="contracttype" value="2" />
        <label for="parttime_cb">Part Time</label> <br />
        <p>Requesting Department</p>
        <input type="radio" id="admin_dept_cb" name="department" value="Administration" />
        <label for="admin_dept_cb">Administration</label> <br />
        <input type="radio" id="services_dept_cb" name="department" value="Services" />
        <label for="services_dept_cb">Services</label> <br />
        <input type="radio" id="production_dept_cb" name="department" value="Production" />
        <label for="production_dept_cb">Production</label> <br />
        <input type="radio" id="financial_dept_cb" name="department" value="Financial" />
        <label for="financial_dept_cb">Financial</label> <br />
        <p>Year of Experience</p>
        <input type="text" name="yearsofexperience" /><br />
        <p>Job Title</p>
        <input type="text" name="jobtitle" />
        <p>Job Description</p>
        <textarea name="jobdescription"></textarea>
        <input type="submit" value="Create">
    </form>
</div>